@model E_TS.ViewModels.Cart.PaymentViewModel
@{
    ViewData["Title"] = "Плащане";
}


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Информация за плащане</h3>
    </div>
    <form asp-action="BuyAll" method="post" role="form">
        <div class="card-body col-md-6">
            <div class="form-group">
                @Html.EditorFor(p => p.CardNumber)
            </div>
            <div class="form-group">
                @Html.EditorFor(p => p.Name)
            </div>
            <div class="form-group">
                <label asp-for="@Model.CVV" class="control-label"></label>
                <input asp-for="@Model.CVV" class="form-control" type="text">
                <span asp-validation-for="@Model.CVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.EditorFor(p => p.ValidTo, "Date")
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success"><i class="fas fa-wallet"></i>Плати</button>
            <a href="@Url.Action("Index", "Cart")" class="btn btn-danger">Назад</a>
        </div>
    </form>
</div>

@section scripts {
    <script>
        (function () {
            $('#reservationdate').datetimepicker({ icons: { time: 'far fa-clock' }, autoclose: true, format: 'L' });
        })();
    </script>
}