@model E_TS.ViewModels.ECard.ECardViewModel

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Зареждане на карта</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="RechargeCard" method="post" role="form">
        @Html.HiddenFor(c => c.UserId)
        @Html.HiddenFor(c => c.Id)
        <div class="card-body">
            <div class="form-group col-6">
                <label for="transportType">Превозно срество: </label>
                @Html.DropDownListFor(n => n.TransportType, Model.TransportTypes, "Всички", new { @class = "form-control" })
            </div>
            <div class="form-group col-6">
                <label for="numberOfTransport">Номер на транспорта: </label>
                @Html.DropDownListFor(n => n.TransportNumber, Model.TransportLines, new { @class = "form-control" })
            </div>
            <div class="form-group col-6">
                @Html.EditorFor(r => r.ValidFrom, "Date")
            </div>
            <div class="form-group col-6">
                <label for="transportType">Периоди: </label>
                @Html.DropDownListFor(n => n.Period, Model.Periods, "Избери", new { @class = "form-control" })
            </div>
            <div class="form-group col-6">
                <label asp-for="@Model.Price" class="control-label"></label>
                <input asp-for="@Model.Price" class="form-control" type="number" readonly>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Зареди</button>
        </div>
    </form>
</div>

@section scripts {
    <script>
        (function () {
            $('#reservationdate').datetimepicker({ icons: { time: 'far fa-clock' }, autoclose: true, format: 'L' });
            $('#validTo').datetimepicker({ icons: { time: 'far fa-clock' }, autoclose: true, format: 'L' });
        })();
    </script>

    <script>
            $('#TransportType').change(function () {
                var url = '@Url.Action("GetTransportLinesByTransportType","Ecard")';
                var ddlsource = "#TransportType";
                $.getJSON(url, { TransportType: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#TransportNumber").empty();
                    $.each(data, function (i, subcategory) {
                        items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                    });
                    $('#TransportNumber').html(items);
                });
            });


            $('#Period').change(function () {
                var price = "#Price";
                var period = $("#Period").val();
                switch (period) {
                    case "1": $(price).val(25); break;
                    case "2": $(price).val(60); break;
                    case "3": $(price).val(120); break;
                    case "4": $(price).val(200); break;
                      default:
                        console.log(`wrong input`);
                }

            });
    </script>
}